<div class="text-center py-16">
    <p class="text-sm font-semibold text-teal-600">READY TO GET STARTED</p>
    <h2 class="text-5xl font-semibold mt-2 mb-4 mx-auto justify-center w-5/6 lg:w-1/2">
      Get The Latest Insurance News In Minutes
    </h2>
    <p class="text-gray-600 mb-8 mx-auto lg: w-1/2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus..
    </p>
  
    <div class="flex justify-center items-center space-x-0 max-w-md mx-auto px-10">
      <input
        type="email"
        placeholder="Email address"
        class="w-full p-4 border bg-gray-100 border-gray-500 rounded-sm"
      />
      <button class="px-6 py-4 bg-teal-600 text-white text-lg rounded-sm hover:bg-teal-700 transition">
        Subscribe
      </button>
    </div>
</div>
  